footer {
  background-color: $brand-blue;
  padding-top: 4.9rem;
  font-size: 1.4rem;

  .top {
    @include flex(row, center, space-between);
    padding-bottom: 4.9rem;
    margin-bottom: 5.7rem;
    border-bottom: 0.2rem solid rgba(73, 196, 253, 0.2);

    .social-media {
      display: flex;
      align-items: center;

      span {
        margin-right: 3rem;
        line-height: 125%;
        color: rgba(255, 255, 255, 0.7);
      }

      ul {
        @include flex(row, center, space-between);
        gap: 3rem;
      }
    }
  }

  .main {
    @include flex(row, flex-start, space-between);
    padding-bottom: 6.2rem;
    margin-bottom: 3.9rem;
    border-bottom: 0.2rem solid rgba(73, 196, 253, 0.2);

    nav {
      @include flex(row, flex-start, space-between);
      width: 100%;
      max-width: 86rem;
      color: white;

      .menu {
        strong {
          display: inline-block;
          padding-bottom: 2.5rem;
        }

        ul {
          @include flex(column, flex-start, center);
          gap: 2.9rem;

          li {
            a {
              color: rgba(255, 255, 255, 0.7);
              line-height: 1.7rem;
            }
          }
        }
      }
    }

    .btns {
      @include flex(column, center, center);
      gap: 2.4rem;
      width: 100%;
      max-width: 28rem;

      button {
        @include flex(row, center, flex-start);
        gap: 2.4rem;
        padding: 1.7rem 2.7rem;
        border-radius: 0.6rem;
        background-color: rgba(0, 164, 240, 0.23);

        .info {
          text-align: left;
          color: white;
          line-height: 150%;
        }
      }
    }
  }

  .bottom {
    @include flex(row, flex-start, flex-start);
    gap: 2.5rem;
    padding-bottom: 3.8rem;
    border-bottom: 0.3rem solid $brand-yellow;
    line-height: 150%;

    .icon {
      font-size: 1.8rem;
    }

    p {
      color: rgba(255, 255, 255, 0.8);
      width: 100%;
      max-width: 66rem;
    }
  }
}
